@namespace BrowserAPI.Test.Client
@page "/"
@inject IJSRuntime JsRuntime

@if (!RendererInfo.IsInteractive) {
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%" />
        <circle r="40%" cx="50%" cy="50%" />
    </svg>
    <div class="loading-progress-text"></div>
}
else {
    bool isInProcess = JsRuntime is IJSInProcessRuntime;

    <div id="test-page">
        <h1>Testing Page @RendererInfo.Name</h1>

        <ClipboardGroup />

        <ConsoleGroup />
        @if (isInProcess) { <ConsoleInProcessGroup /> }

        <CookieStorageGroup />
        @if (isInProcess) { <CookieStorageInProcessGroup /> }

        <DocumentGroup />
        @if (isInProcess) { <DocumentInProcessGroup /> }

        <DownloadGroup />

        <FileSystemGroup />
        @if (isInProcess) { <FileSystemInProcessGroup /> }

        <GamepadAPIGroup />
        @if (isInProcess) { <GamepadAPIInProcessGroup /> }

        <GeolocationGroup />
        @if (isInProcess) { <GeolocationInProcessGroup /> }

        <HistoryGroup />
        @if (isInProcess) { <HistoryInProcessGroup /> }

        <HTMLDialogElementGroup />
        @if (isInProcess) { <HTMLDialogElementInProcessGroup /> }

        <HTMLElementGroup />
        @if (isInProcess) { <HTMLElementInProcessGroup /> }

        <HTMLMediaElementGroup />
        @if (isInProcess) { <HTMLMediaElementInProcessGroup /> }

        <LocalStorageGroup />
        @if (isInProcess) { <LocalStorageInProcessGroup /> }

        <MediaDevicesGroup />
        @if (isInProcess) { <MediaDevicesInProcessGroup /> }

        <NetworkInformationGroup />
        @if (isInProcess) { <NetworkInformationInProcessGroup /> }

        <PermissionsGroup />
        @if (isInProcess) { <PermissionsInProcessGroup /> }

        <SensorAPIGroup />
        @if (isInProcess) { <SensorAPIInProcessGroup /> }

        <ServiceWorkerGroup />
        @if (isInProcess) { <ServiceWorkerInProcessGroup /> }

        <SessionStorageGroup />
        @if (isInProcess) { <SessionStorageInProcessGroup /> }

        <WindowManagementGroup />
        @if (isInProcess) { <WindowManagementInProcessGroup /> }
    </div>
}
