@namespace BrowserAPI.Test.Client
@page "/"
@inject IJSRuntime JsRuntime

@if (!RendererInfo.IsInteractive) {
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%" />
        <circle r="40%" cx="50%" cy="50%" />
    </svg>
    <div class="loading-progress-text"></div>
}
else {
    bool isInProcess = JsRuntime is IJSInProcessRuntime;

    <div id="test-page">
        <h1>Testing Page @RendererInfo.Name</h1>

        <ClipboardGroup />
        <ConsoleGroup />
        @if (isInProcess) { <ConsoleInProcessGroup /> }
        <CookieStorageGroup />
        @if (isInProcess) { <CookieStorageInProcessGroup /> }
        <DialogGroup />
        @if (isInProcess) { <DialogInProcessGroup /> }
        <DownloadGroup />
        <GeolocationGroup />
        @if (isInProcess) { <GeolocationInProcessGroup /> }
        <HTMLElementGroup />
        @if (isInProcess) { <HTMLElementInProcessGroup /> }
        <HTMLMediaElementGroup />
        @if (isInProcess) { <HTMLMediaElementInProcessGroup /> }
        <LanguageGroup />
        @if (isInProcess) { <LanguageInProcessGroup /> }
        <LocalStorageGroup />
        @if (isInProcess) { <LocalStorageInProcessGroup /> }
        <MediaDevicesGroup />
        @if (isInProcess) { <MediaDevicesInProcessGroup /> }
        <SensorAPIGroup />
        @if (isInProcess) { <SensorAPIInProcessGroup /> }
        <ServiceWorkerGroup />
        @if (isInProcess) { <ServiceWorkerInProcessGroup /> }
        <SessionStorageGroup />
        @if (isInProcess) { <SessionStorageInProcessGroup /> }
    </div>
}
