@namespace BrowserAPI.Test.Client
@page "/"

@if (!RendererInfo.IsInteractive) {
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%" />
        <circle r="40%" cx="50%" cy="50%" />
    </svg>
    <div class="loading-progress-text"></div>
}
else {
    <div id="test-page">
        <h1>Testing Page</h1>

        <ClipboardGroup />
        <ConsoleGroup />
        <ConsoleInProcessGroup />
        <CookieStorageGroup />
        <CookieStorageInProcessGroup />
        <DialogGroup />
        <DialogInProcessGroup />
        <DownloadGroup />
        <GeolocationGroup />
        <GeolocationInProcessGroup />
        <HTMLElementGroup />
        <HTMLElementInProcessGroup />
        <HTMLMediaElementGroup />
        <HTMLMediaElementInProcessGroup />
        <LanguageGroup />
        <LanguageInProcessGroup />
        <LocalStorageGroup />
        <LocalStorageInProcessGroup />
        <MediaDevicesGroup />
        <MediaDevicesInProcessGroup />
        <SensorAPIGroup />
        <SensorAPIInProcessGroup />
        <ServiceWorkerGroup />
        <ServiceWorkerInProcessGroup />
        <SessionStorageGroup />
        <SessionStorageInProcessGroup />
    </div>
}
