@namespace BrowserAPI.Test.Client

<div id="test-page">
    <h1>Testing Page</h1>

    <ClipboardGroup />
    <ConsoleGroup />
    <CookieStorageGroup />
    <DialogGroup />
    <DownloadGroup />
    <LanguageGroup />
    <LocalStorageGroup />
    <SessionStorageGroup />  
</div>
