@namespace BrowserAPI.Test.Client

<div id="test-page">
    <h1>Testing Page</h1>

    <LocalStorageGroup />
    <SessionStorageGroup />  
    <CookieStorageGroup />
    <DownloadGroup />
    <ClipboardGroup />
    <LanguageGroup />
    <DialogGroup />
</div>
