*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
    font-family: system-ui;
    interpolate-size: allow-keywords;

    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    line-height: 1.6;
    margin: 0;
    color: #DDD;
    background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

button, select, input, textarea {
    font-family: inherit;
    font-size: inherit;
}

button:not(:disabled) {
    cursor: pointer;
}

img, picture {
    display: block;
    max-width: 100%;
}

:target {
    scroll-margin-block: 5rlh;
}


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;

    & circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);

        &:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }
    }
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;

    &:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
}


#blazor-error-ui {
    position: fixed;
    inset: auto 0 0 0;
    z-index: 1000;
    display: none;
    color: #222;
    background-image: linear-gradient(90deg, #FF7, #FF4, #FF7);

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8em;
        padding: 0.6em 1.2em;

        & > p {
            margin: 0 0 0 auto;

            & > span {
                display: inline-block;

                &:first-child {
                    margin-right: 0.4em;
                }
            }
        }

        & > .dismiss {
            cursor: pointer;
            margin-left: auto;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            transition: stroke 0.1s;

            & > line {
                stroke: #000;
                stroke-width: 2;
                stroke-linecap: round;
            }

            &:hover > line {
                stroke: #04b;
                transition: stroke 0.3s;
            }
        }
    }
}
