@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Clipboard</h2>
    <div>
        <button data-testid="@BUTTON_READ" @onclick="Read">Read</button>
        <button data-testid="@BUTTON_WRITE" @onclick="Write">Write</button>
    </div>
    <label data-testId="@LABEL_OUTPUT">@labelOutput</label>
</div>
