@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Clipboard</h2>
    <div>
        <button data-testid="@DATA_TESTID_READ" @onclick="ClipboardRead">ClipboardRead</button>
        <button data-testid="@DATA_TESTID_WRITE" @onclick="ClipboardWrite">ClipboardWrite</button>
    </div>
    <label data-testId="@DATA_TESTID_OUTPUT">@labelOutput</label>
</div>
