@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Download</h2>
    <div>
        <button data-testid="@BUTTON_DOWNLOAD_AS_FILE" @onclick="DownloadAsFile">DownloadAsFile</button>
    </div>
</div>
