#test-page {
    .group {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        margin: 2em;
        padding: 2em;
        background-color: #333;

        & > h2 {
            font-size: 1.4rem;
            margin: 0;
        }

        & > div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.8em;

            & > button {
                cursor: pointer;
                padding: 0.4em 0.6em;
                color: #DDD;
                background-color: #000;
                border: 0.15em #DDD outset;
                border-radius: 0.2em;

                &:hover {
                    background-color: #222;
                }

                &:active {
                    background-color: #222;
                    border: 0.15em #DDD inset;
                }
            }
        }

        & > label {
            min-height: calc(1.5rem + 0.8em);
            padding: 0.4em;
            background-color: #2C2C2C;
        }
    }
}
