.html-element {
    overflow: scroll;
    height: 80px;
    width: 70px;
    transition: all 300ms;

    background-color: #282828;
    padding: 0.5em;
}

.long-transition {
    transition-duration: 30s;
}

.animation-start {
    animation: change-background-color 300ms;
}

.animation-start-infinite {
    animation: change-background-color 300ms infinite;
}

@keyframes change-background-color {
  from {
      background-color: #222;
  }
  to {
      background-color: #333;
  }
}
